@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#F1F6F9;

  
    /* background-image: url(../img/—Pngtree—abstract\ polygonal\ space\ low\ poly_1178266.jpg);
     background-color: #1b1b1b;
    color: #fff;  */
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
}
a {
    color: #1f1f1f;
    
}
.donthaveac {
    font-size: 1rem;
}
.sideimg{
    width: 500px;
}
.form {
    padding: 50px;
    color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 220px;
}
label {
    display: block;
    font-family: Ubuntu;
    font-size: 1.5rem;
    padding: 15px 0px;
}
input {
    font-size: 20px;
    border: 2px solid #1b1b1b;
    border-radius: 5px;
    outline: 0;
    padding: 5px;
}

.btn {
    margin: 30px 0px 5px 0px;
    display: block;
    font-family: Ubuntu;
    font-size: 1.5rem;
    background-color: #2827CC;
    color: #fff;
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    cursor:pointer;
}
.forgetpassword a {
    margin-top: 5px;
    color:#1b1b1b;
    font-size: 1.1rem;
}
h2 {
    margin-top: 10px;
    color:#1b1b1b;
}

.btngoogle {
    margin: 20px 0px 5px 0px;
    display: block;
    font-family: Ubuntu;
    font-size: 1.5rem;
    background-color: #fff;
    color: #1b1b1b;
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    cursor:pointer;
}

.btnapple {
    margin: 30px 0px 5px 0px;
    display: block;
    font-family: Ubuntu;
    font-size: 1.5rem;
    background-color: #1b1b1b;
    color: #fff;
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    cursor:pointer;
}

.body {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}

.btngoogle p ,.btnapple p{
    margin: auto;
}

button:hover{
    
    background-color:#B91646;
    color: #fff;
}

@media screen and (max-width: 1000px) {

    body{
        background-color: #F1F6F9;
        box-sizing: border-box;
       
       
        

    }
    .body{
        display: flex;
        flex-direction: column;
        
    }
    .sideimg{
        width: 50%;
        margin: auto ;
        
    }

    .form {
        /* width: 100%; */
        padding: 10px;
        color: #1b1b1b;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:auto
    }
    .heading{
        font-size:1.2rem;
    }
    .donthaveac {
        margin-top: 10px;
        letter-spacing: normal;
    }
}
