@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1b1b1b;
  background-color:#F1F6F9;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
}

a {
  color: #1f1f1f;
}

.donthaveac {
  font-size: 1rem;
}

.sideimg {
  width: 500px;
}

.form {
  /* padding: 40px; */
  color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 220px;
}

label {
  display: block;
  font-family: Ubuntu;
  font-size: 1.5rem;
  padding: 15px 0px;
}

input {
  font-size: 20px;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
  outline: 0;
  padding: 5px;
}

.btn {
  margin: 30px 0px 5px 0px;
  display: block;
  font-family: Ubuntu;
  font-size: 1.5rem;
  background-color: #2827cc;
  color: #fff;
  border: 1px solid wheat;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.forgetpassword a {
  margin-top: 5px;
  color: #1b1b1b;
  font-size: 1.1rem;
  /* margin: auto; */
}

h2 {
  margin-top: 10px;
  color: #1b1b1b;
}

.btngoogle {
  margin: 20px 0px 5px 0px;
  display: block;
  font-family: Ubuntu;
  font-size: 1.5rem;
  background-color: #fff;
  color: #1b1b1b;
  border: 1px solid wheat;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.btnapple {
  margin: 30px 0px 5px 0px;
  display: block;
  font-family: Ubuntu;
  font-size: 1.5rem;
  background-color: #1b1b1b;
  color: #fff;
  border: 1px solid wheat;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.body {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.btngoogle {
  display: flex;
}

.btngoogle p {
  margin: auto;
}

.btnapple {
  display: flex;
}

.btnapple p {
  margin: auto;
}
button:hover{
    
  background-color:#B91646;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: #f1f6f9;
    box-sizing: border-box;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .sideimg {
    /* display: none; */
    width: 50%;
    margin: auto;
  }

  .form {
    width: 100%;
    padding: 10px;
    color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto;
  }

  .heading {
    font-size: 1.2rem;
  }

  .donthaveac {
    margin-top: 10px;
    letter-spacing: normal;
  }
}
