@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgba(255, 192, 203, 0.384);
 
}
.text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:30px;
    align-items: center;
    font-family :Ubuntu;
    margin: 10px;
    
    font-weight:500;
}
img{
    width: 30vh;
    
    
}
h1{
    margin-top: 50px;
}