@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

*{
    background-image: linear-gradient(to right, #051937, #002459, #002e7d, #1137a0, #363dc3);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Ubuntu;
    margin-top:50vh;
}